.contents
  .top-head
    = image_tag "pakupakutodo.png", width: "600px"

  .task-content
    .tasks
      - unless @first_task.nil?
        = render "task", task: @first_task
      - else
        %h3.done All task is done !!
    .tasks-count= @list.count

  .task-lines
    .task-line
    .task-line.gray-S
    .task-line.gray-M
    .task-line.gray-L
  .notify-box
    #flash

  .mb-5
    = form_with model: @task, url: tasks_path, local: false do |form|
      - if @task.errors.any?
        - @task.errors.full_messages.each do |msg|
          %p= msg

      .form-group
        = form.text_field :title, class: "form-control"

      = form.submit "タスクを追加する", class: "button"

  = form_with model: @list_mail_form, url: list_mails_path, local: false do |form|
    .form-group
      = form.email_field :email, class: "form-control"

    = form.submit "メールを送信する", class: "button"

  - flash.each do |key, value|
    .m-3.alert.alert-info= flash[:email]
