<h1>PAKUPAKU TODO</h1>
<ul>
<!--

    <%# @todos.each do |todo| %>
    <li><%#= todo.task %></li>
    <%# end %>-->

 
    <% if @todos.count > 0 %>
    <p class="first-task"><%= @todos.first.task %></p>
    <p>Todo : <%= @todos.count %></p>
    <% end %>

    <%= form_for @todo do |f| %>
      <%= f.text_field :task %>
      <br>
      <%= f.submit %>
    <% end %>

    <%= link_to "[delete]", todo_path(@todos), method: :delete, data: { confirm: "are you sure?" } %>
    <%#= link_to "新規作成", :controller => "pages", :action => "new" %>
    <%= link_to "[stack]", stack_path,  data: { confirm: "stack?" } %>

    
</ul>