<%= image_tag "title.png"%>

<div>

    <%= image_tag("stst.png", :size => "100x100") %>
    <span> < <%= @todos.count %></span>
    <!-- <img src="./public/assets/images/stst.png"> -->
    <% if @todos.count > 0 %>
    <p class="first-task"><%= @todos.first.task %></p>


    <% end %>

    <div class="contents">
        <%= form_for @todo do |f| %>
          <%= f.text_field :task , :class => 'form-text'%>
          <br>

          <%= f.submit :class => 'form-submit' %>
        <% end %>

        
        <a href="/stack_kill" ><div class="delete">Delete</div></a>
            <%#= link_to "delete", todo_path(@todos), method: :delete, data: { confirm: "are you sure?"},:class => 'delete-az' %>
        <a href="/stack" ><div class="stack">Stack</div></a>
    </div> 
</div>

<span class="copy-right">© 2017 Kota Sakurai</span>