<%= image_tag "title.png"%>

<div>

    <%= image_tag("stst.png", :size => "100x100") %>
    <!-- <img src="./public/assets/images/stst.png"> -->
    <% if @todos.count > 0 %>
    <p class="first-task"><%= @todos.first.task %></p>

    <p>Todo : <%= @todos.count %></p>
    <% end %>

    <div class="contents">
        <%= form_for @todo do |f| %>
          <%= f.text_field :task , :class => 'form-text'%>
          <br>
          <%= f.submit :class => 'form-submit' %>
        <% end %>

        <div class="delete">
            <%= link_to "delete", todo_path(@todos), method: :delete, data: { confirm: "are you sure?"},:class => 'delete-az' %>
        </div>
        <div class="stack">
            <%= link_to "stack", stack_path,  data: { confirm: "stack?" }%>
        </div>
    </div> 
</div>

<span class="copy-right">© 2017 Kota Sakurai</span>